@import "reset-css";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Instrument Sans;
  outline: none;
}
body{
  padding: 15px;
}
:root {
  --button-color: #633cff;
  --buttton-active: #beadff;
  --button-disabled: #efebff;
  --text-color: #333333;
  --second-text-color: #737373;
  --grey-color: #d9d9d9;
  --sliver-white: #fafafa;
  --white-color: #ffffff;
  --error--color: #ff3939;
}
a{
  color: unset;
  text-decoration: none;
}